body{
	margin:0;
	overflow: hidden;
	background: url(https://source.unsplash.com/XZtpcHdhBT0/1280x720) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#loader {
	background:rgba(0,0,0,0.8);
	color:black;
	width:100%;
	height:100%;
	position: absolute;
}

#loaderWrap{
	width: 100px;
	height: 100px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left: -50px;
	margin-top: -50px;
}

#loaderText{
	font-size: 20px;
	width:40px;
	height:20px;
	margin-top:-10px;
	margin-left:-20px;
	font-family: Arial, sans-serif;
	color:white;
	position: fixed;
	text-align:center;
	top:50%;
	left:50%
}

#box {
	position: relative;
	top:50%;
	left:50%;
	width: 50px;
	height: 50px;
	margin-top:-25px;
	margin-left:-25px;
	background: #9C27B0;
	animation: spin 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
	transition: display 10s linear;
}

.hideLoader{
	display:none;
}

@keyframes spin {
	0% {
		transform: rotate(-45deg) scale(1);
	}
	5% {
		transform: rotate(-50deg) scale(1);
	}
	20% {
		transform: rotate(47deg) scale(1.3);
	}
	25% {
		transform: rotate(45deg) scale(1.3);
	}
	30% {
		transform: rotate(40deg) scale(1.3);
	}
	45% {
		transform: rotate(137deg) scale(1.6);
	}
	50% {
		transform: rotate(135deg) scale(1.6);
	}
	55% {
		transform: rotate(130deg) scale(1.6);
	}
	70% {
		transform: rotate(217deg) scale(2);
	}
	75% {
		transform: rotate(220deg) scale(2);
	}
	100% {
		transform: rotate(-225deg) scale(1);
	}
}