@font-face {
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	src: local('Righteous'), local('Righteous-Regular'), url(/fonts/Righteous.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
	margin:0;
	overflow: hidden;
	background: url(https://source.unsplash.com/_4Ib-a8g9aA/1920x1080) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cssLoader {
	background:black;
	width:100%;
	height:100%;
	position: absolute;
	transition: all 1s ease;
	z-index:1000
}

.cssLoaderWrap{
	width: 100px;
	height: 100px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left: -50px;
	margin-top: -50px;
}

.cssLoaderText{
	font-size: 20px;
	width:40px;
	height:20px;
	margin-top:-10px;
	margin-left:-20px;
	font-family: Arial, sans-serif;
	font-weight:bold;
	color:#9C27B0;
	position: fixed;
	text-align:center;
	top:50%;
	left:50%
}

.cssLoaderBox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border:solid 5px #9C27B0;
	position: relative;
	top:50%;
	left:50%;
	width: 50px;
	height: 50px;
	margin-top:-25px;
	margin-left:-25px;
	background: #4A148C;
	transform: rotate(-45deg) scale(1);
	animation: spin 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

.hideLoader{
	opacity:0;
}

.hideLoaderDisplayNone{
	display:none;
}

@keyframes spin {
	0% {
		transform: rotate(-45deg) scale(1);
	}
	5% {
		transform: rotate(-50deg) scale(1);
	}
	20% {
		transform: rotate(47deg) scale(1.3);
	}
	25% {
		transform: rotate(45deg) scale(1.3);
	}
	30% {
		transform: rotate(40deg) scale(1.3);
	}
	45% {
		transform: rotate(137deg) scale(1.6);
	}
	50% {
		transform: rotate(135deg) scale(1.6);
	}
	55% {
		transform: rotate(130deg) scale(1.6);
	}
	70% {
		transform: rotate(217deg) scale(2);
	}
	75% {
		transform: rotate(220deg) scale(2);
	}
	100% {
		transform: rotate(-225deg) scale(1);
	}
}

.menu{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:900;
	display:none;
	opacity: 0;
	transition: all 2s ease;
}

.hideMenu{

}

.hideMenuDisplayNone{

}

.menuTitle{
	position: absolute;
	text-align: center;
	font-family: Righteous, serif;
	color:red;
	font-size:30px;
	top:50%;
	left:50%;
	width:500px;
	margin-left:-250px;
}